* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo';
    text-decoration: none;
}
.grid-container{
    display: grid;
    grid-template-columns: 100%; /*allows mobile first approach to line everything up in a single column*/
    grid-template-rows: auto; /*Because of height based rows all different, we will set the template to auto to wrap according to content*/
    grid-template-areas: "header" "nav" "main";

}
.pro-pic{
    border-radius: 50%;
    box-shadow: 0px .1px .5px rgba(0, 0, 0, 0.507);

}
.section-title{
    width: 42vw;
    font-size: .8rem;
    font-weight: 800;
    padding: 20px 14px;
}
section{
    border-bottom: 1px solid lightgray;
}
.headline{
    padding: 15px;
    font-size: .7rem;
}



/*HEADER STYLING*/
.header{
    grid-area: header;
    background-color: rgb(116, 119, 191);
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    height: 60px;
    color: white; 
    font-size: .65rem;
    padding: 10px;
}
.header-title{
    font-weight: 200;
    margin-top: -10px;
    align-self: center;
}
.title-web{
    font-weight: 400;
}
.bell{
    width: 15px;
    align-self: center;   
}
.bell-icon{
    fill: white;
    padding: 0 12px;
    margin-left: 20px;
    margin-top: 10px;
    width: 45px;    
    align-self: center;
        
}
#notifications {
    background: #91f38e;
    height: 4.75px;
    width: 4.75px;
    border-radius: 50%;
    position: relative;
    top: -29.5px;
    left: 31px;
    margin-left: 20px;
 
}

.header-divider{
    border: solid rgba(255, 255, 255, 0.137);
    border-radius: 25%;
    border-width: 1px;
    height: 41px;
    margin: 0 -40px 0 40px;
    align-self: center;

}
header img{
    height: 37px;
    margin-left: 40px;
    align-self: center;
}
.header-name{
    font-size: .7rem;
    font-weight: 300;
    margin: 0 auto;
    align-self: center;
}



/*NAVIGSTION BAR STYLING*/

.nav{
    grid-area: nav;
    float: left;
    background-color: #4d4c72;
    fill: white;
    padding: 10px 10px 7px 10px;

}
.nav-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    margin: 0 auto;
}
nav svg{
    height: 30px;
}



/*MAIN STYLING*/
.main{
    grid-area: main;
    display: grid;
}
.main-header{
    height: 50px;
    display: grid;
    grid-auto-flow: column;
    width: 100vw;
}
.headline{
    font-size: 1rem;
    font-weight: 400;
    width: 13.5vw;
    align-self: center;
}
.tab{
    border: 1px solid #cecece;
    background: whitesmoke;
    grid-column: 2 / span 3 ;
}

.widget-container-full, .widget-container-half{
        width: 100vw; /*  THIS WILL CREATE THE CANVAS CONTAINERS RESPONSIVE DUE TO USING THE USER'S VIEWPORT'S PERCENTAGE*/
        height: 30vh;

}
.alert{
    width: 100vw;
    padding: 15px;
    text-align: center;
}
.alert-mock{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    background: #7477bf;
    color: white;
    text-align: center;
    padding: 11px;
    margin: 3px 0;
    border-radius: 5px;   
    font-size: .85rem;
    box-shadow: .1px 3px 8px rgba(0, 0, 0, 0.37);

}
.alert-mock a{
    color: white;
}



/*TRAFFIC, DAILY, and MOBILE STYLING*/

.traffic-nav{
    display: grid;
    grid-auto-flow: column;
    width: 100vw;
    justify-content: space-between;
    padding: 0px 25px;
    font-size: .9rem;
    font-weight: 300;
    text-align: center;
}
.traffic-nav-link{
    display: grid;
    list-style-type: none;
    transition: color .25s ease-in-out;
    border-radius: 40%;
    transition: background .235s ease-in-out;
    height: 30px;
    text-align: center;
    background: red;
}
.traffic-nav-link:hover{
    background: #81c98f;
    color: white;
}

.traffic-container img, .daily-container img, .mobile-container img{
    width: 100vw;
}




/*SOCIAL STATS STYLING*/
.social{
    padding-left: 15px;
    height: 400px;
}
.social h3{
    margin-left: -15px;
    padding-bottom: 0px;
}
.social-container{
    box-shadow: .1px 1px 5px rgba(0, 0, 0, 0.37);
    width: 90vw;
    border: 1px solid #cecece;
    height: 100px;
    margin: 15px 0;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: column;
    background-color: whitesmoke;
}
.social-image{
    width: 11vw;
    align-self: center;
    margin-left: 35px;
    fill: white;
    z-index: 1;
}
.svg-background{
    background-color: #7477bf;
    margin:-15px;
    border-radius: 50%;
    width: 20vw;
    position: absolute;
    height: 8vh;
    align-self: center;
    z-index: -1;
}

.social-text{
    text-align: start;
    padding: 17px 70px 0 0;
    font-weight: 200;
    opacity: .95;
    color: #6f72bc;
    margin-left: -10px;
}
.social-number{
    color: black;
    height: 55px;
    width: 55px;
    font-size: 2.5rem;
    margin-left: -2px;
    font-weight: 200;
    color: #777777
}

/*NEW MEMBERS*/
.members{
    display: grid;
    grid-auto-flow: row;
}
.members-title{
    padding-bottom: 10px;
}
.members-container{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    width: 100vw;
    height: 140px;
    padding: 15px 0;
}
.members-divider{
    width: 90vw;
    border-bottom: 1px solid lightgray;
    justify-self: center;
}
.members-container img{
    justify-self: center;
    margin-bottom: 5px;
    width: 20vw;
}
.members-text{
    display: grid;
    text-align: center;
    font-size: .77rem;
    width: 100vw;
    font-weight: 200;
}
.date{
    justify-self: center;
    font-weight: 300;
    font-size: .75rem;
    padding: 1px;
}

.members-text a{
    color: #888ac2;
}

/*RECENT ACTIVITY*/
.activity{
    display: grid;
    grid-auto-flow: row;
    width: 100vw;
    justify-content: center;
}
.activity-title{
    width: 44vw;
}
.activity-text{
    width: 80vw;
}






@media (min-width: 768px){
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-areas: "header header"
        "nav main";    
    }
    .main{
        grid-template-columns: 50%;
    }
    .traffic, .social{
        grid-column: 1 / span 2;
    }
    .daily, .members, .message{
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings{
        grid-column: 2 / span 1;
    }
    .widget-container-full{
        width: 89vw;
    }
    .widget-container-half{
        width: 44vw;
    }
}
@media (min-width: 1024px){
    .social{
        display: grid;        
        grid-template-columns: 32vw;
        grid-template-rows: auto;
        grid-auto-flow: column;

    }
    
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-areas: "header header"
        "nav main";    
    }
    .main{
        grid-template-columns: 50%;
    }
    .traffic, .social{
        grid-column: 1 / span 2;
        
    }
    .daily, .members, .message{
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings{
        grid-column: 2 / span 1;
    }
    .widget-container-full{
        width: 90vw;
    }
    .widget-container-half{
        width: 45vw;
    }
}


/*TOGGLE STYLING*/
.toggle{
    -webkit-appearance: none;
    position: relative; 
    width: 25px;
    height: 15px;
    border-radius: 25px;
    background-color: rgba(211, 211, 211, 0.745);
    transition: background .3s;
    outline: none;
    cursor: pointer;
}
/*notice your creating a circle shape in CSS within the pseudo property after (?)*/
.toggle::after{
    content: ''; /* creates the shape inside toggle */
    position: absolute; 
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: .75rem;
    width: .75rem;
    background-color: white;
    transition: left .3s ease-out;
}
.toggle:checked{
    background: limegreen;
}
.toggle:checked::after{
    left: 70%;
}

