* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo';
    text-decoration: none;
}
.grid-container{
    display: grid;
    grid-template-columns: 100%; /*allows mobile first approach to line everything up in a single column*/
    grid-template-rows: auto; /*Because of height based rows all different, we will set the template to auto to wrap according to content*/
    grid-template-areas: "header" "nav" "main";

}
.pro-pic{
    border-radius: 50%;
    box-shadow: 0px .1px .5px rgba(0, 0, 0, 0.507);

}
.section-title{
    font-size: .8rem;
    font-weight: 800;
    padding: 15px 15px 5px;
}
section{
    border-bottom: 1px solid lightgray;
}
.headline{
    padding: 15px;
    font-size: .7rem;
}



/*HEADER STYLING*/
.header{
    grid-area: header;
    background-color: rgb(116, 119, 191);
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    height: 60px;
    color: white; 
    font-size: .65rem;
    padding: 10px;
}
.header-title{
    font-weight: 200;
    margin-top: -10px;
    align-self: center;
}
.title-web{
    font-weight: 400;
}
.bell{
    width: 15px;
    align-self: center;   
}
.bell-icon{
    fill: white;
    padding: 0 12px;
    margin-left: 20px;
    margin-top: 10px;
    width: 45px;    
    align-self: center;
        
}
#notifications {
    background: #91f38e;
    height: 4.75px;
    width: 4.75px;
    border-radius: 50%;
    position: relative;
    top: -29.5px;
    left: 31px;
    margin-left: 20px;
 
}

.header-divider{
    border: solid rgba(255, 255, 255, 0.137);
    border-radius: 25%;
    border-width: 1px;
    height: 41px;
    margin: 0 -40px 0 40px;
    align-self: center;

}
header img{
    height: 37px;
    margin-left: 40px;
    align-self: center;
}
.header-name{
    font-size: .7rem;
    font-weight: 300;
    margin: 0 auto;
    align-self: center;
}



/*NAVIGSTION BAR STYLING*/

.nav{
    grid-area: nav;
    float: left;
    background-color: #4d4c72;
    fill: white;
    padding: 10px 10px 7px 10px;

}
.nav-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    margin: 0 auto;
}
nav svg{
    height: 30px;
}



/*MAIN STYLING*/
.main{
    grid-area: main;
    display: grid;
}
.main-header{
    height: 50px;
    display: grid;
    grid-auto-flow: column;
    width: 100vw;
}
.headline{
    font-size: 1rem;
    font-weight: 400;
    width: 13.5vw;
    align-self: center;
}
.tab{
    border: 1px solid #cecece;
    background: whitesmoke;
    grid-column: 2 / span 3 ;
}

.widget-container-full, .widget-container-half{
        width: 100vw; /*  THIS WILL CREATE THE CANVAS CONTAINERS RESPONSIVE DUE TO USING THE USER'S VIEWPORT'S PERCENTAGE*/
        height: 30vh;

}
.alert{
    width: 100vw;
    padding: 15px;
    text-align: center;
}
.alert-mock{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    background: #7477bf;
    color: white;
    text-align: center;
    padding: 11px;
    margin: 3px 0;
    border-radius: 5px;   
    font-size: .85rem;
    box-shadow: .1px 3px 8px rgba(0, 0, 0, 0.37);

}
.alert-mock a{
    color: white;
}



/*TRAFFIC, DAILY, and MOBILE STYLING*/
.traffic, .daily{
height: 197px;
}
.mobile{
    height: 225px;
}
.traffic-title{
    font-size: .9rem;
    padding-left: 17px;
}
.traffic-nav{
    display: grid;
    grid-auto-flow: column;
    width: 40px;
    justify-content: space-between;
    justify-self: center;
    padding-left: 13px;
    font-size: .9rem;
    font-weight: 300;
    text-align: center;
}
.traffic-nav-link{
    /*f so, I would suggest changing the display on these traffic-nav-links on line 192 to flex instead of grid. Since this is targeting individual items and not a container of items, flex will make a bit more sense here. And if we set it to flex, we can utilize align-items: center;.By default, setting an element’s display to flex sets it’s flex-direction to row, and when we use align-items on a row flex-direction, it’s adjusting the y axis (vertical). So this will center the text vertically within the element (screenshot below).*/
    display: flex;  
    align-items: center;
    list-style-type: none;
    transition: color .25s ease-in-out;
    border-radius: 38%;
    transition: background .235s ease-in-out;
    height: 30px;
    margin: 5px 10px;
    padding: 5px;
    text-align: center;
}
.traffic-nav-link:hover{
    background: #81c98f;
    color: white;
}

.traffic-container img, .daily-container img, .mobile-container img{
    width: 100vw;
    height: 130px;
}




/*SOCIAL STATS STYLING*/
.social{
    padding-left: 15px;
    height: 400px;
}
.social h3{
    margin-left: -15px;
    padding-bottom: 0px;
}
.social-container{
    box-shadow: .1px 1px 5px rgba(0, 0, 0, 0.37);
    width: 90vw;
    border: 1px solid #cecece;
    height: 100px;
    margin: 15px 0;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: column;
    background-color: whitesmoke;
}
.social-image{
    width: 11vw;
    align-self: center;
    margin-left: 35px;
    fill: white;
    z-index: 1;
}
.svg-background{
    background-color: #7477bf;
    margin:-15px;
    border-radius: 50%;
    width: 20vw;
    position: absolute;
    height: 8vh;
    align-self: center;
    z-index: -1;
}

.social-text{
    text-align: start;
    padding: 17px 70px 0 0;
    font-weight: 200;
    opacity: .95;
    color: #6f72bc;
    margin-left: -10px;
}
.social-number{
    color: black;
    height: 55px;
    width: 55px;
    font-size: 2.5rem;
    margin-left: -2px;
    font-weight: 200;
    color: #777777
}

/*NEW MEMBERS*/
.members{
    display: grid;
    grid-auto-flow: row;
}
.members-title{
    padding-bottom: 10px;
}
.members-container{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    width: 100vw;
    height: 140px;
    padding: 15px 0;
}
.members-divider{
    width: 90vw;
    border-bottom: 1px solid lightgray;
    justify-self: center;
}
.members-container img{
    justify-self: center;
    margin-bottom: 5px;
    width: 20vw;
}
.members-text{
    display: grid;
    text-align: center;
    font-size: .77rem;
    width: 100vw;
    font-weight: 200;
}
.date{
    justify-self: center;
    font-weight: 300;
    font-size: .75rem;
    padding: 1px;
}

.members-text a{
    color: #888ac2;
}

/*RECENT ACTIVITY*/
.activity{
    display: grid;
    grid-auto-flow: row;
    width: 100vw;
    justify-content: center;
}

.activity-text{
    width: 80vw;
    font-weight: 200;
}
.activity-time{
    font-weight: 100;
}


/*MESSAGE USER STYLING*/

.form-container{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    height: 280px;
}

.form-field, .form-area{ 
    width: 288px;
    background-color: #f5f5f5;
    color: #948d8db4;
    font-size: .85rem;
    border-radius: 5px;
    border: 1px solid lightgray; 
    margin: 5px;
}
.form-field{
    height: 45px;
    padding: 10px;
}
.form-area{
    height: 140px;
    padding: 10px;
}
.font-area:clicked{
    border: 1px solid black;
}
.button-primary{
    text-decoration: none;
    border: none;
    justify-self: center;
    background-color: #7477bf;
    color: whitesmoke;
    border-radius: 5px;
}
.button-primary:hover{
    background: #5454b8;
}
#send{
    width: 288px;
    height: 40px;
    margin: 10px 0 15px 0;
    transition: background .135s ease-in;
}

button{
    font-weight: 100;
    cursor: pointer;

}

/*--------------START OF SETTING STYLING------------*/
.settings{
    display: grid;
    height: 320px;
}
.settings-title{
    height: 40px;
}
.settings-container{
    width: 288px;
    display: grid;
    justify-self: center;    
    margin-top: -5px;
}
.toggle-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 15px 0;
}
.settings-text{
    font-size: .9rem;
    font-weight: 300;
    align-self: center;
}

/*TOGGLE STYLING*/
.toggle{
    -webkit-appearance: none;
    position: relative; 
    width: 90px;
    height: 35px;
    border-radius: 25px;
    border: 2px solid lightgray;
    background-color: rgba(211, 211, 211, 0.745);
    transition: background .3s ease;
    outline: none;
    cursor: pointer;
}
/*Creates an element that is before the button elememt, that will represent the text placed within the button */
.toggle::before{
    content: 'OFF';
    font-weight: 100;
    color: rgba(105, 101, 101, 0.89);
    position: absolute;
    margin: 9px;
    left: 50%;
}
/*Creates an element that is after the button element, that will represent the moving toggle (?)*/
.toggle::after{
    content: ''; /* creates the shape of the toggle circle */
    position: absolute; 
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid lightgray;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .2s ease-out;
}

/*Slides the ::after toggle element to the right*/
.toggle:checked::after{
    left: 80%;
}
/*Changes the background color to purple*/
.toggle:checked{
    background-color: #7477bf;;
}
/*Changes text to "on" and moves the text to the opposite side of the toggle, and */
.toggle:checked::before{
    content: 'ON';
    font-weight: 100;
    position: absolute;
    margin: 9px;
    left: 0%;
    color: white;
}


.settings-select{
    border: 1px solid lightgray;
    background-color: #f5f5f5;
    border-radius: 5px;
    height: 40px;
    font-size: .9rem;
    padding-left: 15px;
    margin: 20px 0;
    color: rgb(170, 170, 170);
}

.settings-button{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;   

}
#save, #cancel{
    width: 135px;
    height: 45px;
    margin: -5px 0 30px 0;
    border: none;    
    transition: background .135s ease-in;
}
#cancel{
    border-radius: 5px;
    color: white;
    background-color: #999999
}
#save:hover{
    background: #5454b8;
}
#cancel:hover{
    background: #525252d5;
}
/*-------------- END OF SETTING STYLING------------*/






@media (min-width: 768px){
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-areas: "header header"
        "nav main";    
    }
    .main{
        grid-template-columns: 50%;
    }
    .traffic, .social{
        grid-column: 1 / span 2;
    }
    .daily, .members, .message{
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings{
        grid-column: 2 / span 1;
    }
    .widget-container-full{
        width: 90vw;
    }
    .widget-container-half{
        width: 45vw;
    }
}
@media (min-width: 1024px){
    .social{
        display: grid;        
        grid-template-columns: 32vw;
        grid-template-rows: auto;
        grid-auto-flow: column;

    }
    
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-areas: "header header"
        "nav main";    
    }
    .main{
        grid-template-columns: 50%;
    }
    .traffic, .social{
        grid-column: 1 / span 2;
        
    }
    .daily, .members, .message{
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings{
        grid-column: 2 / span 1;
    }
    .widget-container-full{
        width: 90vw;
    }
    .widget-container-half{
        width: 45vw;
    }
}



