* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo';
    text-decoration: none;
}

.grid-container{
    display: grid;
    grid-template-columns: 100%; /*allows mobile first approach to line everything up in a single column*/
    grid-template-rows: auto; /*Because of height based rows all different, we will set the template to auto to wrap according to content*/
    grid-template-areas: "header" "nav" "main";
}
.main{
    grid-template-columns: 100%; /*allows mobile first approach to line everything up in a single column*/
    grid-template-rows: auto; /*Because of height based rows all different, we will set the template to auto to wrap according to content*/
    grid-template-areas: 
        "main-header"
        "alert"
        "traffic"
        "daily"
        "mobile"
        "social"
        "members"
        "activity"
        "message"
        "settings";
}

.pro-pic{
    border-radius: 50%;
}
.section-title{
    font-size: .8rem;
    font-weight: 800;
    padding: 15px 15px 5px;
}
section{
    border-bottom: 1px solid lightgray;
}
.headline{
    padding: 15px;
    font-size: .7rem;
}

canvas{
    width: 100%;
}


/*HEADER STYLING*/
.header{
    width: 100%;
    grid-area: header;
    background-color: rgb(116, 119, 191);
    display: flex;
    justify-content: space-between;
    padding: 12px;
    height: 60px;
    color: white; 
    font-size: .65rem;
}

.header-title{
    font-weight: 200;
    align-self: center;
}
.title-web{
    font-weight: 400;
}
.right-side-header{
    display: grid;
    grid-auto-flow: column;
    justify-items: space-between;
    width: 180px;
}
.bell{
    display: flex;
    width: auto;
    position: relative;
    padding-right: 12px;
    width: 54px;        
    z-index: 1;    

}
.bell-icon{
    fill: white;
    padding: 0 12px;
    width: 45px;    
    align-self: center; 
    position: absolute;
    left: 30%;
    transition: transform .235s ease-in-out;

}
.bell-icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.bellMenu-container{
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 43%;
    top: 6.7%;
    left: 55%;
    display: none;
    z-index: 1;
    cursor: pointer; 
    transition: 0.5s ease-in;
    border: 1px solid rgba(0, 0, 0, 0.115);
}

.bellMenu li{
    display: flex;
    justify-content: space-between;
    font-size: .78rem;
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    transition: background .235s ease-in-out;
}
.bellMenu li:hover{
    background: #91f38e;
    color: black;
}

#notifications {
    background: #91f38e;
    height: 4.75px;
    width: 4.75px;
    border-radius: 50%;
    position: absolute;
    right: 10%;
}

.header-divider{
    border: solid rgba(255, 255, 255, 0.137);
    border-radius: 25%;
    border-width: 1px;
    height: 41px;
    width: 1px; 

}
header img{
    height: 37px;
    align-self: center;
    margin-left: 5px;
}
.header-name{
    font-size: .7rem;
    font-weight: 300;
    align-self: center;
    padding-left: 5px;
}



/*NAVIGATION BAR STYLING*/

.nav{
    grid-area: nav;
    float: left;
    background-color: #4d4c72;
    fill: white;
    width: 100%;
    padding: 10px 10px 7px 10px;

}
.nav-container{
    display: flex;
    justify-content: space-evenly;
}
nav svg{
    height: 30px;
}



/*MAIN STYLING*/
.main{
    grid-area: main;
    display: grid;
}
.main-header{
    grid-area: main-header;
    height: 50px;
    display: grid;
    grid-template-columns: auto 1fr;
}
.headline{
    font-size: 1rem;
    font-weight: 400;
}
.tab{
    display: flex;
    justify-content: end;
    border: 1px solid #cecece;
    background: whitesmoke;
    grid-column: 2 / span 3;
}

.search-bar{
    position: relative;
    width: 40%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255)
}

.search-icon{
    width: 15px;
    position: relative;
    left: -9%;
}
.search-icon:hover{
    cursor: pointer;
}
.widget-container-full, .widget-container-half{
    position: relative;
    width: 95%;
    padding: 15px; /*  THIS WILL CREATE THE CANVAS CONTAINERS RESPONSIVE DUE TO USING THE USER'S VIEWPORT'S PERCENTAGE*/
}

#alert{
    grid-area: alert;
    padding: 15px;
    text-align: center;
}
.alert-banner{
    display: flex;
    justify-content: space-between;
    background: #7477bf;
    color: white;
    text-align: center;
    padding: 11px;
    margin: 3px 0;
    border-radius: 5px;   
    font-size: .85rem;
    box-shadow: .1px 3px 8px rgba(0, 0, 0, 0.37);

}
.alert-banner-close a{
    color: white;
} 



/*TRAFFIC, DAILY, and MOBILE STYLING*/
.traffic{
    grid-area: traffic;
}
.daily{
    grid-area: daily;
}
.mobile{
    grid-area: mobile;
}



.traffic-nav{
    display: flex;
    justify-content: space-evenly;
    font-size: .9rem;
    font-weight: 300;
}
.traffic-nav-link{
    /*f so, I would suggest changing the display on these traffic-nav-links on line 192 to flex instead of grid. Since this is targeting individual items and not a container of items, flex will make a bit more sense here. And if we set it to flex, we can utilize align-items: center;.By default, setting an element’s display to flex sets it’s flex-direction to row, and when we use align-items on a row flex-direction, it’s adjusting the y axis (vertical). So this will center the text vertically within the element (screenshot below).*/
    align-items: center;
    list-style-type: none;
    transition: color .25s ease-in-out;
    border-radius: 38%;
    transition: background .235s ease-in-out;
    height: 30px;
    padding: 5px;
}
.traffic-nav-link:hover{
    background: #81c98f;
    cursor: pointer;
}




/*SOCIAL STATS STYLING*/

.social{
    grid-area: social;
    display: flex;
    flex-direction: column;
}
.social-container{
    display: flex;
    flex-direction: row;
    border: 1px solid #cecece;
    height: 100px;
    margin: 10px 15px;
    border-radius: 5px;
    background-color: whitesmoke;
    justify-content: start;

}
.social-image{
    width: 35.2px;
    align-self: center;
    margin-left: 35px;
    fill: white;
    z-index: 1;
}
.svg-background{
    background-color: #7477bf;
    margin:-14.5px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: -1;
}

.social-text{
    align-self: center;
    font-weight: 200;
    margin: 0 25px;
    opacity: .95;
    color: #6f72bc;
}
.social-number{
    color: black;
    font-size: 2.5rem;
    font-weight: 200;
    color: #777777
}

/*NEW MEMBERS & RECENT ACTIVITIES STYLING*/
.members{
    grid-area: members;
}.activity{
    grid-area: activity;
}
.members, .activity{
    display: flex;
    flex-direction: column; 
}

.members-container, .activity-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
    padding: 15px 0;
}
.members-divider{
    width: 90%;
    border-bottom: 1px solid lightgray;
    align-self: center;
}
.members-container img, .activity-container img{
    margin-bottom: 5px;
    width: 63.8px;
    align-self: center;
}
.member-photo-text-container{
    display: flex;
    flex-direction: column;
}
.activity-photo-text-container{
    display: flex;
    flex-direction: column;
}
.members-text, .activity-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .77rem;
    font-weight: 200;
}
.date{
    font-weight: 300;
    font-size: .75rem;
}
.activity-arrow{
    display: none;
}

.members-text a{
    color: #888ac2;
}

.activity-text{
    padding: 0 30px;
}
.activity-time{
    font-weight: 100;
}


/*MESSAGE USER STYLING*/
.message{
    grid-area: message;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
}

.form-field, .form-area{ 
    width: 95%;
    background-color: #f5f5f5;
    color: #000000b4;
    font-size: .85rem;
    border-radius: 5px;
    border: 1px solid lightgray; 
    margin: 5px;
}
.form-field{
    height: 45px;
    padding: 10px;
}
.form-area{
    height: 135px;
    padding: 10px;    
}
.font-area:clicked{
    border: 1px solid black;
}
.names-list{
    display: none;
    background-color:whitesmoke;
    position: absolute;
    border: solid 1px lightgray;
    display: none;
    z-index: 1;
    width: 95vw;
    margin-top: 50px;
}
.names-list ul li{
    padding: 5px;
   list-style-type: none;
}
.names-list ul li:hover{
    background-color: lightblue;
}
.settings select{
    color: black;
}
.button-primary{
    text-decoration: none;
    border: none;
    background-color: #7477bf;
    color: whitesmoke;
    border-radius: 5px;
}
.button-primary:hover{
    background: #5454b8;
}
#send{
    width: 90%;
    height: 45px;
    margin: 16px 0 15px 0;
    transition: background .135s ease-in;
}
button{
    font-weight: 100;
    cursor: pointer;
}

/*--------------START OF SETTING STYLING------------*/
.settings{
    width: 100%;
    grid-area: settings;
    display: flex;
    height: auto;
    flex-direction: column;
    border-bottom: none;
}
.settings-title{
    height: 40px;
}
.settings-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-self: center;    
}
.toggle-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
}
.settings-text{
    font-size: .9rem;
    font-weight: 300;
    align-self: center;
}

/*TOGGLE STYLING*/
.toggle-container{
    width: 100%;
}
.toggle{
    -webkit-appearance: none;
    position: relative; 
    width: 90px;
    height: 35px;
    border-radius: 25px;
    border: 2px solid lightgray;
    background-color: rgba(211, 211, 211, 0.745);
    transition: background .3s ease;
    outline: none;
    cursor: pointer;
}
/*Creates an element that is before the button elememt, that will represent the text placed within the button */
.toggle::before{
    content: 'OFF';
    font-weight: 100;
    color: rgba(105, 101, 101, 0.89);
    position: absolute;
    margin: 9px;
    left: 50%;
}
/*Creates an element that is after the button element, that will represent the moving toggle (?)*/
.toggle::after{
    content: ''; /* creates the shape of the toggle circle */
    position: absolute; 
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid lightgray;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .2s ease-out;
}

/*Slides the ::after toggle element to the right*/
.toggle:checked::after{
    left: 80%;
}
/*Changes the background color to purple*/
.toggle:checked{
    background-color: #7477bf;;
}
/*Changes text to "on" and moves the text to the opposite side of the toggle, and */
.toggle:checked::before{
    content: 'ON';
    font-weight: 100;
    position: absolute;
    margin: 9px;
    left: 0%;
    color: white;
}


.settings-select{
    border: 1px solid lightgray;
    background-color: #f5f5f5;
    border-radius: 5px;
    height: 40px;
    font-size: .9rem;
    padding-left: 15px;
    margin: 20px 0;
    color: rgb(170, 170, 170);
}

.settings-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   

}
#save, #cancel{
    width: 49%;
    height: 45px;
    margin-bottom: 30px;
    border: none;    
    transition: background .135s ease-in;
}
#cancel{
    border-radius: 5px;
    color: white;
    background-color: #999999
}
#save:hover{
    background: #5454b8;
}
#cancel:hover{
    background: #525252d5;
}
/*-------------- END OF SETTING STYLING------------*/








@media (min-width: 768px){
    .grid-container{
        width: 100%;
        display: grid;
        grid-template-columns: 55px 1fr;
        grid-template-areas: "header header"
        "nav main";    
    }
   
    .main{
        width: 100%;
        display: grid;
        grid-template-columns: 50%;
        grid-template-areas: 
        "main-header main-header"
        "alert alert"
        "traffic traffic" 
        "daily mobile" 
        "social social" 
        "members members"
        "activity activity"
        "message message" 
        "settings settings";
    }
    .main-header{
        width: 100%;
    }
    .nav{
        height: auto;
        margin: 0;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-container a{
        padding: 10px 0;
    }
    
    .bellMenu-container{
        width: 35%;
        top: 6.7%;
        left: 64%;
    }

    .bellMenu li{
        font-size: .78rem;
        list-style-type: none;
        padding: 5px;
        transition: background .235s ease-in-out;
    }
    .alert{
        padding-bottom: 5px;
    }
    .search-bar{
        width: 250px;
    }
    .search-icon{
        position: relative;
        left: -3.5%;
    }
    .traffic-header{
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }
    .traffic-nav{
        padding: 10px 15px;        
        justify-content: end;
    }
    .traffic-nav-link{
        margin: 0 5px;
    }
    .mobile, .daily{
        border-left: 1px solid lightgray ;
    }       
    

    .social{        
        border-bottom: 1px solid lightgray
    }
    .social-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    /*once taking the margin away within the mobile first approach, set a fixed width to the svg, itself so you can continue with a new */

    
    .social-container{
        width: 32%;
        margin: 0 5px;
    }
    .social-title{
        margin-bottom: 10px;
    }

    .social-image{
        display: flex; /*applying flex to target the indiviual items within*/
    }
    .social-image svg{
        width: 37px;
    }
    .social-number{
        font-size: 2.1rem;
    }
    
    .members-container, .activity-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    .members-divider{
        align-self: center;
        width: 90%;
    }
    .member-photo-text-container{
        flex-direction: row;
    }
 
    .activity-photo-text-container{
        flex-direction: row;
    }
 
    .members-text{
       display: flex;
       align-self: center;
       text-align: start;
       padding: 15px;
       font-size: .9rem;
    }
    .activity-text{
       display: flex;
       align-self: center;
       text-align: start;
       padding: 15px;
       font-size: .9rem;
    }
    .date{
        margin-right: 15px;
        font-size: .9rem;
    }

    .activity-arrow{
        margin-right: 15px;
        display: block;
    }

    .form-field, .form-area, #send{
        width: 95%;
        align-self: start;
        margin-left: 15px;
    }
    .form-field, .form-area{
        color: black;
    }
    .names-list{
        margin-right: 5px;
        z-index: 1;
        width: 88.5%;
        margin-top: 50px;
    }
    .settings{
        width: 100%;
    }
    .settings-container{        
        width: 95%;
        align-self: start;
        margin-left: 12px;
    }
    .settings-select, .settings-button{
        width: 100%
    }
    #save, #cancel{
        width: 49%;
    }

    .widget-container-full{
        width: 100%;
    }
    .widget-container-half{
        width: 100%;
    }
}

@media (min-width: 1024px){
    .grid-container{
        display: grid;
        grid-template-columns: 55px 1fr;
        grid-template-areas: "header header"
        "nav main";
    }
    .main{
        width: 100%;
        display: grid;
        grid-template-columns: 50%;
        grid-template-areas: 
        "main-header main-header" 
        "alert alert"
        "traffic traffic" 
        "daily mobile" 
        "social social" 
        "members activity"
        "message settings";
    }
    .nav{
        height: auto;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-container a{
        padding: 10px 0;
    }
    .alert{
        width: 100%;
        padding-bottom: 5px;
    }
    .bellMenu-container{
        width: 25%;
        top: 6.7%;
        left: 73.5%;
    }

    .bellMenu li{
        font-size: .78rem;
        list-style-type: none;
        padding: 5px;
        transition: background .235s ease-in-out;
    }
    .search-bar{
        width: 250px;
    }
    .search-icon{
        left: -2.5%;
    }

    .traffic-header{
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        width: 100%;
    }
    .traffic-nav{
        padding: 10px 15px;        
        justify-content: end;
    }
    .traffic-nav-link{
        margin: 0 5px;
    }
    .mobile, .daily{
        border: 1px solid lightgray;
        border-right: none;

    }

    .social{
        width: 100%;
        justify-self: center;
    }
    .social-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    /*once taking the margin away within the mobile first approach, set a fixed width to the svg, itself so you can continue with a new */
    .social-container{
        width: 33%;
        margin: 0;
    }

    .social-image{
        display: flex; /*(applying flex to target the indiviual items within)*/
    }
    .social-image svg{
        width: 37px;
    }
    .social-number{
        font-size: 2.1rem;
    }
    
    .members-container, .activity-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-self: center;
        justify-content: space-between;
    }
    .member-photo-text-container{
        width: 100%;
        flex-direction: row;
    }
 
    .activity-photo-text-container{
        width: 100%;
        flex-direction: row;
    }
 
    .members-text{
       display: flex;
       align-self: center;
       text-align: start;
       padding: 15px;
       font-size: .9rem;
    }
    .activity-text{
       display: flex;
       align-self: center;
       text-align: start;
       padding: 15px;
       font-size: .9rem;
    }
    .date{
        font-size: .9rem;
    }

    .activity-arrow{
        display: block;
    }
    .message{
        width: 95%;
    }

    .form-field, .form-area, #send{
        width: 100%;
    }
}
.names-list{
    margin-left: 35px;
    z-index: 1;
    width: 45%;
    margin-top: 50px;
}
    .settings, .activity{
        border-left: 1px solid lightgray
 
    }
    .settings-container{
        align-self: start;
        margin-left: 12px;
    }
    .settings-select, .settings-button{
        width: 100%;
    }
    #save, #cancel{
        width: 49%;
    }

    .widget-container-full{
        width: 100%;
    }
    .widget-container-half{
        width: 100%;
    }
    #mobile-users {
       width: 50%;
    }

}

